In [1]:
import pynasdaq as nas;

#### Dividend calendar for a given date

In [2]:
nas.dividendCalendar(date="2019-July-25").head()

,Company (Symbol),Ex-Dividend Date,Dividend,Indicated Annual Dividend,Record Date,Announcement Date,Payment Date
0,Antero Midstream Corporation (AM),07/25/2019,0.308,1.230,07/26/2019,07/10/2019,08/07/2019
1,Celanese Corporation (CE),07/25/2019,0.620,2.480,07/26/2019,07/15/2019,08/05/2019
2,"Coca-Cola Consolidated, Inc. (COKE)",07/25/2019,0.250,1.000,07/26/2019,07/12/2019,08/09/2019
3,Triple-S Management Corporation (GTS),07/25/2019,0.051,0.051,NaN,NaN,NaN
4,"Hope Bancorp, Inc. (HOPE)",07/25/2019,0.140,0.560,07/26/2019,07/16/2019,08/09/2019

#### List of high yield dividend stocks

In [3]:
nas.highYieldDividendStocks().head(n=10)

,Name,LastSale,annualdividend,dividendyield,exdividenddate,dividendpaymentdate
Symbol,,,,,,
PTMN,Portman Ridge Finance Corporation,2.28,0.400000,17.3115,04/04/2019,04/26/2019
TRMT,Tremont Mortgage Trust,5.17,0.880000,17.2549,04/26/2019,05/16/2019
MDRR,Medalist Diversified REIT Inc.,4.39,0.700000,16.0183,07/11/2019,07/17/2019
ABDC,Alcentra Capital Corp.,8.29,0.720000,15.7895,06/27/2019,07/03/2019
OXLC,Oxford Lane Capital Corp.,10.50,1.620000,15.0979,07/23/2019,07/31/2019
MMLP,Martin Midstream Partners L.P.,5.41,1.000000,14.7929,05/07/2019,05/15/2019
CEY,Victory Portfolios II,24.08,3.415704,14.0796,07/17/2019,07/19/2019
CMFN,CM Finance Inc,7.32,1.000000,13.5685,06/13/2019,07/05/2019
GMLP,Golar LNG Partners LP,11.97,1.616800,13.3952,05/06/2019,05/14/2019
GPP,Green Plains Partners LP,14.25,1.900000,13.3333,05/02/2019,05/10/2019

#### Dividend history for a company given the symbol

In [4]:
nas.dividendHistory("AAPL").head()

  Ex/Eff Date  Type  Cash Amount Declaration Date Record Date Payment Date
0   5/10/2019  Cash         0.77        4/30/2019   5/13/2019    5/16/2019
1    2/8/2019  Cash         0.73        1/29/2019   2/11/2019    2/14/2019
2   11/8/2018  Cash         0.73        11/1/2018  11/12/2018   11/15/2018
3   8/10/2018  Cash         0.73        7/31/2018   8/13/2018    8/16/2018
4   5/11/2018  Cash         0.73         5/1/2018   5/14/2018    5/17/2018

#### Stock summary quote

In [6]:
nas.stockSummaryQuote("MSFT")

,Symbol,CurrentPrice,Best Bid / Ask,1 Year Target,Today's High / Low,Share Volume,50 Day Avg. Daily Volume,Previous Close,52 Week High / Low,Market Cap,P/E Ratio,Forward P/E (1y),Earnings Per Share (EPS),Annualized Dividend,Ex Dividend Date,Dividend Payment Date,Current Yield,Beta
0,MSFT,140.19,N/A / N/A,155.0,$ 140.61 / $ 139.3215,18356483,23391342,140.72,$ 140.74 / $ 93.96,1071472170000,27.65,27.01,5.07,1.84,8/14/2019,9/12/2019,1.32 %,1.33