In [3]:
import pynasdaq as nas;

#### Dividend calendar for a given date

In [4]:
nas.dividendCalendar(date="2019-July-25").head()

,Company (Symbol),Ex-Dividend Date,Dividend,Indicated Annual Dividend,Record Date,Announcement Date,Payment Date
0,Antero Midstream Corporation (AM),07/25/2019,0.308,1.230,07/26/2019,07/10/2019,08/07/2019
1,Celanese Corporation (CE),07/25/2019,0.620,2.480,07/26/2019,07/15/2019,08/05/2019
2,"Coca-Cola Consolidated, Inc. (COKE)",07/25/2019,0.250,1.000,07/26/2019,07/12/2019,08/09/2019
3,Triple-S Management Corporation (GTS),07/25/2019,0.051,0.051,NaN,NaN,NaN
4,"Hope Bancorp, Inc. (HOPE)",07/25/2019,0.140,0.560,07/26/2019,07/16/2019,08/09/2019

#### List of high yield dividend stocks

In [6]:
nas.highYieldDividendStocks().head(n=10)

,Name,LastSale,annualdividend,dividendyield,exdividenddate,dividendpaymentdate
Symbol,,,,,,
TRMT,Tremont Mortgage Trust,5.1000,0.880000,17.6707,04/26/2019,05/16/2019
PTMN,Portman Ridge Finance Corporation,2.3106,0.400000,17.0940,04/04/2019,04/26/2019
MDRR,Medalist Diversified REIT Inc.,4.3700,0.700000,15.9091,07/11/2019,07/17/2019
ABDC,Alcentra Capital Corp.,8.3600,0.720000,15.8273,06/27/2019,07/03/2019
OXLC,Oxford Lane Capital Corp.,10.7300,1.620000,15.2542,07/23/2019,07/31/2019
MMLP,Martin Midstream Partners L.P.,6.7600,1.000000,14.7710,05/07/2019,05/15/2019
CEY,Victory Portfolios II,24.2600,3.415704,14.0912,07/17/2019,07/19/2019
GMLP,Golar LNG Partners LP,12.0700,1.616800,13.7366,05/06/2019,05/14/2019
CMFN,CM Finance Inc,7.3700,1.000000,13.6056,06/13/2019,07/05/2019
GPP,Green Plains Partners LP,14.2500,1.900000,13.3709,05/02/2019,05/10/2019

#### Dividend history for a company given the symbol

In [9]:
nas.dividendHistory("AAPL").head()

  Ex/Eff Date  Type  Cash Amount Declaration Date Record Date Payment Date
0   5/10/2019  Cash         0.77        4/30/2019   5/13/2019    5/16/2019
1    2/8/2019  Cash         0.73        1/29/2019   2/11/2019    2/14/2019
2   11/8/2018  Cash         0.73        11/1/2018  11/12/2018   11/15/2018
3   8/10/2018  Cash         0.73        7/31/2018   8/13/2018    8/16/2018
4   5/11/2018  Cash         0.73         5/1/2018   5/14/2018    5/17/2018